/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #1E1E2E;
    background-alt: #1E1E2E;
    foreground:     #D9E0EE;
    selected:       #7AA2F7;
    active:         #ABE9B3;
    urgent:         #F28FAD;
}
